.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  background: #333; }
  .header-left section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120rem;
    color: #fff; }
    .header-left section nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      margin-left: 3rem; }
      .header-left section nav a {
        padding: 0 1.5rem;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none; }
        .header-left section nav a.active {
          background: #000; }
.welcome {
  font-size: 20px;
  color: #333; }
.my p {
  color: blue; }
* {
  margin: 0;
  padding: 0;
  border: none; }

html {
  font-size: 62.5%; }

body {
  font-family: Segoe UI, Lucida Grande, Helvetica, Arial, Microsoft YaHei, FreeSans, Arimo, Droid Sans, wenquanyi micro hei, Hiragino Sans GB, Hiragino Sans GB W3, FontAwesome, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p, button, input, a, span, dd, li, textarea, label, b, strong, del, u {
  font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial,  Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, STHeitiSC-Light, simsun, \\5B8B\4F53,  WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
  font-size: inherit;
  color: inherit; }

input:focus, button:focus, a:focus, image:focus {
  outline: none; }

::-moz-selection {
  background: #333;
  color: #fff; }

::selection {
  background: #333;
  color: #fff; }
